#title {
    -fx-font-size: 25;
    -fx-text-fill: #424874;
    -fx-font-family: "Times New Roman";
    -fx-font-weight: lighter;
}

#ISBN, #author {
    -fx-font-size: 12;
    -fx-text-fill: #424874;
    -fx-font-family: "Open Sans";
}

#desciption {
    -fx-font-size: 12;
    -fx-text-fill: #424874;
    -fx-font-family: "Open Sans";
    -fx-alignment: top-left;
}

.image-view {
    -fx-effect: dropshadow(three-pass-box, rgb(66, 72, 116), 20, 0, 0, 0);
}
.text-area {
    -fx-background-color: transparent;
    -fx-font-family: "Open Sans";
    -fx-text-fill: #424874;
}
.text-area .content {
    -fx-background-color: transparent;
}
.text-area .scroll-bar:vertical {
    -fx-opacity: 0;
}