#switchButton {
    -fx-background-color: TRANSPARENT;
    -fx-text-fill: #ffffff;
    -fx-alignment: CENTER;
    -fx-font-size: 30px;
    -fx-font-family: "Bernard MT Condensed";
    -fx-border-width: 0;
    -fx-effect: dropshadow(three-pass-box, rgb(220, 214, 247), 10, 0, 0, 0);
}

#switchButton:hover {
    -fx-text-fill: #424874;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#homeButton {
    -fx-background-color: TRANSPARENT;
    -fx-text-fill: #424874;
    -fx-alignment: CENTER;
    -fx-font-size: 45px;
    -fx-font-family: "Bernard MT Condensed";
    -fx-border-width: 0;
}

#searchBar {
    -fx-background-color: #DCD6F7;
    -fx-border-color: #424874;
    -fx-border-width: 0.5;
    -fx-prompt-text-fill: #424874;
    -fx-font-size: 15px;
    -fx-font-family: "Open Sans";
    -fx-font-weight: lighter;
    -fx-text-fill: #424874;
    -fx-padding: 10px;
    -fx-background-insets: 0;
    -fx-faint-focus-color: transparent;
}

#choiceBox {
    -fx-background-color: #DCD6F7;
    -fx-border-color: #424874;
    -fx-background-radius: 0 10 10 0;
    -fx-border-width: 0.5;
    -fx-border-radius: 0 10 10 0;
    -fx-padding: 0px;
    -fx-background-insets: 0;
}

#choiceBox .label {
    -fx-font-size: 15px;
    -fx-font-family: "Open Sans";
    -fx-text-fill: #424874;
}

#showRecommendBook {
    -fx-background-color: #DCD6F7;
    -fx-background-radius: 10 0 0 10;
    -fx-border-color: #424874;
    -fx-border-width: 0.5;
    -fx-border-radius: 10 0 0 10;
    -fx-padding: 0px;
    -fx-background-insets: 0;
    -fx-font-size: 15px;
    -fx-font-family: "Open Sans";
    -fx-text-fill: #424874;
}

#searchBar:hover, #choiceBox:hover, #showRecommendBook:hover {
    -fx-effect: dropshadow(three-pass-box, rgb(66, 72, 116), 10, 0, 0, 0);
}

.split-pane {
    -fx-background-color: transparent;
}

.split-pane-divider {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.tile-pane {
    -fx-background-color: transparent;
    -fx-border-color: #424874;
    -fx-border-width: 0.5;
}

#myListView .list-cell {
    -fx-background-color: #F4EEFF;
    -fx-padding: 4px;
}

#myListView .list-cell:hover {
    -fx-background-color: #A6B1E1;
}

#myListView .thumb {
    -fx-background-color: #A6B1E1;
}

#myListView .track, #myListView .increment-arrow, #myListView .decrement-arrow {
    -fx-background-color: #F4EEFF;
}
#logout {
    -fx-background-color: TRANSPARENT;
}