#myPane {
    -fx-background-color: #DCD6F7;
    -fx-background-radius: 20px;
    -fx-border-color: #424874;
    -fx-border-width: 0.5;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgb(166, 177, 225), 20, 0, 0, 0);
}

#login {
    -fx-text-fill: #5D18DCFF;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
    -fx-border-width: 0;
    -fx-background-color: white;
    -fx-letter-spacing: 2px;
    -fx-font-size: 14px;
    -fx-transition: all 2s ease;
    -fx-font-family: "Open Sans";
    -fx-effect: dropshadow(three-pass-box, rgba(160, 101, 172, 0.8), 10, 0, 0, 0);
}

#login:hover {
    -fx-transition: all 3s ease;
    -fx-letter-spacing: 3px;
    -fx-background-color: #424874;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

#login:pressed {
    -fx-transition: 300ms ease;
    -fx-letter-spacing: 3px;
    -fx-background-color: #424874;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-translate-y: 3px;
}

#username {
    -fx-background-color: #F4EEFF;
    -fx-background-radius: 10;
    -fx-border-color: #424874;
    -fx-border-width: 0.5;
    -fx-border-radius: 10;
    -fx-prompt-text-fill: #424874;
    -fx-font-size: 15px;
    -fx-font-family: "Times New Roman";
    -fx-font-weight: lighter;
    -fx-text-fill: #424874;
    -fx-padding: 10px;
    -fx-background-insets: 0;
}

#password {
    -fx-background-color: #F4EEFF;
    -fx-background-radius: 10;
    -fx-border-color: #424874;
    -fx-border-width: 0.5;
    -fx-border-radius: 10;
    -fx-prompt-text-fill: #424874;
    -fx-font-size: 15px;
    -fx-font-family: "Times New Roman";
    -fx-font-weight: lighter;
    -fx-text-fill: #424874;
    -fx-padding: 10px;
    -fx-background-insets: 0;
}

#signup {
    -fx-background-color: transparent;
    -fx-text-fill: #545fae;
    -fx-font-weight: lighter;
    -fx-font-family: "Open Sans";
}

#signup:hover {
    -fx-effect: dropshadow(three-pass-box, rgb(66, 72, 116), 10, 0, 0, 0);
}

#admin {
    -fx-text-fill: #424874;
    -fx-font-weight: lighter;
    -fx-font-family: "Open Sans";
}

#admin > .box {
    -fx-border-color: #424874;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-color: transparent;
    -fx-background-radius: 5;
}

#admin > .box:hover {
    -fx-background-color: #A6B1E1;
}

#admin > .box:pressed {
    -fx-background-color: #A6B1E1;
}


